<% content_for :meta do %>
  <%= sanitize_ssr @ssr[:meta] %>
<% end %>

<div id="root" data-ssr="true">
  <%= sanitize_ssr @ssr[:body] %>
</div>

<script id="state" type="application/json">
  <%= sanitize_ssr json_escape(@ssr[:state].to_json) %>
</script>
