<% content_for :meta do %>
  <%= sanitize @ssr[:meta], scrubber: SsrScrubber.new %>
<% end %>

<div id="root" data-ssr="true">
  <%= sanitize @ssr[:body], scrubber: SsrScrubber.new %>
</div>

<script id="state" type="application/json">
  <%= sanitize json_escape(@ssr[:state].to_json), scrubber: SsrScrubber.new %>
</script>
